In [1]:
from pyspark import SparkConf
from pyspark.sql import SparkSession

In [ ]:

# cat ~/.aws/credentials

AWS_ACCESS_KEY_ID = "ASIAUDZFW3BZGWGN42NX"
AWS_SECRET_ACCESS_KEY = "U1agzyUKJt8WoZduUWwQV1shCFo8vgBru7Fb1ETA"
AWS_SESSION_TOKEN = "FwoGZXIvYXdzEP7//////////wEaDFDKnHgh0/JvywAzcSLQAW55H3XXxYEIGQ489hpNGX0hJH069yZykxaHgnOg+FnjhwGzxvjpGb9Qvki7dnHnAIJMRs2YAjkq817qqwVdoQ9RQ++ANs7gi5b4MI8BtbZOoXFC7hu54/y96uL/fJkQoyl9ztZUPJzMqC0WgbabeAc41RcsigJ8XhMJ/fKpO4efxzguapUR+k34oDE0Z7GYGEPj+zMm5TV51lLzfy6lzf6P122ghFclKA19TtScd+AIs/s77fpq6zAcCk+TSzOQtfjm6hMPkNw0/D6vOIgXpuAo0Yn1nAYyLecVk1bEIoMfUYWddyZx70R/hEdnrBegUBAJObBkum0iingmlQ3sRtKGaEwiMA=="

In [ ]:
conf = SparkConf()
conf.set("spark.jars.packages", "org.apache.hadoop:hadoop-aws:3.2.2")
conf.set("spark.hadoop.fs.s3a.aws.credentials.provider", "org.apache.hadoop.fs.s3a.TemporaryAWSCredentialsProvider")
conf.set("spark.hadoop.fs.s3a.access.key", AWS_ACCESS_KEY_ID)
conf.set("spark.hadoop.fs.s3a.secret.key", AWS_SECRET_ACCESS_KEY)
conf.set("spark.hadoop.fs.s3a.session.token", AWS_SESSION_TOKEN)

In [ ]:
bucket = "s3a://datalake-bank-pleng"
landing_zone = f"{bucket}/landing/"
exportData = f"{bucket}/export/"

In [20]:
spark = SparkSession.builder.config(conf=conf).getOrCreate()

In [28]:
data = spark.read.option("header","true").option("multiline", "true").option("sep",";").csv(landing_zone)

In [29]:
data.printSchema()

root
 |-- age: string (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: string (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- campaign: string (nullable = true)
 |-- pdays: string (nullable = true)
 |-- previous: string (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

In [30]:
data.show()

+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
| 58|  management| married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|
| 44|  technician|  single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|
| 33|entrepreneur| married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown| no|
| 47| blue-collar| married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|
| 33|     unknown|  single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown| no|
| 35|  management| married| tertiary|     no|    231|    yes|  no|unknown|  5|  may|     139|       1|   -1|       0| unknown| no|
| 28|  management|  single| tertiary|     no|    447|    yes| yes|unknown|  5|  may|     217|       1|   -1|       0| unknown| no|
| 42|entrepreneur|divorced| tertiary|    yes|      2|    yes|  no|unknown|  5|  may|     380|       1|   -1|       0| unknown| no|
| 58|     retired| married|  primary|     no|    121|    yes|  no|unknown|  5|  may|      50|       1|   -1|       0| unknown| no|
| 43|  technician|  single|secondary|     no|    593|    yes|  no|unknown|  5|  may|      55|       1|   -1|       0| unknown| no|
| 41|      admin.|divorced|secondary|     no|    270|    yes|  no|unknown|  5|  may|     222|       1|   -1|       0| unknown| no|
| 29|      admin.|  single|secondary|     no|    390|    yes|  no|unknown|  5|  may|     137|       1|   -1|       0| unknown| no|
| 53|  technician| married|secondary|     no|      6|    yes|  no|unknown|  5|  may|     517|       1|   -1|       0| unknown| no|
| 58|  technician| married|  unknown|     no|     71|    yes|  no|unknown|  5|  may|      71|       1|   -1|       0| unknown| no|
| 57|    services| married|secondary|     no|    162|    yes|  no|unknown|  5|  may|     174|       1|   -1|       0| unknown| no|
| 51|     retired| married|  primary|     no|    229|    yes|  no|unknown|  5|  may|     353|       1|   -1|       0| unknown| no|
| 45|      admin.|  single|  unknown|     no|     13|    yes|  no|unknown|  5|  may|      98|       1|   -1|       0| unknown| no|
| 57| blue-collar| married|  primary|     no|     52|    yes|  no|unknown|  5|  may|      38|       1|   -1|       0| unknown| no|
| 60|     retired| married|  primary|     no|     60|    yes|  no|unknown|  5|  may|     219|       1|   -1|       0| unknown| no|
| 33|    services| married|secondary|     no|      0|    yes|  no|unknown|  5|  may|      54|       1|   -1|       0| unknown| no|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

In [32]:
data.select("age", "job").show()

+---+------------+
|age|         job|
+---+------------+
| 58|  management|
| 44|  technician|
| 33|entrepreneur|
| 47| blue-collar|
| 33|     unknown|
| 35|  management|
| 28|  management|
| 42|entrepreneur|
| 58|     retired|
| 43|  technician|
| 41|      admin.|
| 29|      admin.|
| 53|  technician|
| 58|  technician|
| 57|    services|
| 51|     retired|
| 45|      admin.|
| 57| blue-collar|
| 60|     retired|
| 33|    services|
+---+------------+
only showing top 20 rows

In [33]:
data.createOrReplaceTempView("staging_data")

In [34]:
table = spark.sql("""
    select
        *
        
    from
        staging_data
""").show()

+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
| 58|  management| married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|
| 44|  technician|  single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|
| 33|entrepreneur| married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown| no|
| 47| blue-collar| married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|
| 33|     unknown|  single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown| no|
| 35|  management| married| tertiary|     no|    231|    yes|  no|unknown|  5|  may|     139|       1|   -1|       0| unknown| no|
| 28|  management|  single| tertiary|     no|    447|    yes| yes|unknown|  5|  may|     217|       1|   -1|       0| unknown| no|
| 42|entrepreneur|divorced| tertiary|    yes|      2|    yes|  no|unknown|  5|  may|     380|       1|   -1|       0| unknown| no|
| 58|     retired| married|  primary|     no|    121|    yes|  no|unknown|  5|  may|      50|       1|   -1|       0| unknown| no|
| 43|  technician|  single|secondary|     no|    593|    yes|  no|unknown|  5|  may|      55|       1|   -1|       0| unknown| no|
| 41|      admin.|divorced|secondary|     no|    270|    yes|  no|unknown|  5|  may|     222|       1|   -1|       0| unknown| no|
| 29|      admin.|  single|secondary|     no|    390|    yes|  no|unknown|  5|  may|     137|       1|   -1|       0| unknown| no|
| 53|  technician| married|secondary|     no|      6|    yes|  no|unknown|  5|  may|     517|       1|   -1|       0| unknown| no|
| 58|  technician| married|  unknown|     no|     71|    yes|  no|unknown|  5|  may|      71|       1|   -1|       0| unknown| no|
| 57|    services| married|secondary|     no|    162|    yes|  no|unknown|  5|  may|     174|       1|   -1|       0| unknown| no|
| 51|     retired| married|  primary|     no|    229|    yes|  no|unknown|  5|  may|     353|       1|   -1|       0| unknown| no|
| 45|      admin.|  single|  unknown|     no|     13|    yes|  no|unknown|  5|  may|      98|       1|   -1|       0| unknown| no|
| 57| blue-collar| married|  primary|     no|     52|    yes|  no|unknown|  5|  may|      38|       1|   -1|       0| unknown| no|
| 60|     retired| married|  primary|     no|     60|    yes|  no|unknown|  5|  may|     219|       1|   -1|       0| unknown| no|
| 33|    services| married|secondary|     no|      0|    yes|  no|unknown|  5|  may|      54|       1|   -1|       0| unknown| no|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

In [42]:
table = spark.sql("""
    select
        age
        , job
        , education
        , contact
        , day
        , month
        , duration
        , campaign
        , pdays
        , y as outcome
        
    from
        staging_data
""")
table.show()

+---+------------+---------+-------+---+-----+--------+--------+-----+-------+
|age|         job|education|contact|day|month|duration|campaign|pdays|outcome|
+---+------------+---------+-------+---+-----+--------+--------+-----+-------+
| 58|  management| tertiary|unknown|  5|  may|     261|       1|   -1|     no|
| 44|  technician|secondary|unknown|  5|  may|     151|       1|   -1|     no|
| 33|entrepreneur|secondary|unknown|  5|  may|      76|       1|   -1|     no|
| 47| blue-collar|  unknown|unknown|  5|  may|      92|       1|   -1|     no|
| 33|     unknown|  unknown|unknown|  5|  may|     198|       1|   -1|     no|
| 35|  management| tertiary|unknown|  5|  may|     139|       1|   -1|     no|
| 28|  management| tertiary|unknown|  5|  may|     217|       1|   -1|     no|
| 42|entrepreneur| tertiary|unknown|  5|  may|     380|       1|   -1|     no|
| 58|     retired|  primary|unknown|  5|  may|      50|       1|   -1|     no|
| 43|  technician|secondary|unknown|  5|  may|      55|       1|   -1|     no|
| 41|      admin.|secondary|unknown|  5|  may|     222|       1|   -1|     no|
| 29|      admin.|secondary|unknown|  5|  may|     137|       1|   -1|     no|
| 53|  technician|secondary|unknown|  5|  may|     517|       1|   -1|     no|
| 58|  technician|  unknown|unknown|  5|  may|      71|       1|   -1|     no|
| 57|    services|secondary|unknown|  5|  may|     174|       1|   -1|     no|
| 51|     retired|  primary|unknown|  5|  may|     353|       1|   -1|     no|
| 45|      admin.|  unknown|unknown|  5|  may|      98|       1|   -1|     no|
| 57| blue-collar|  primary|unknown|  5|  may|      38|       1|   -1|     no|
| 60|     retired|  primary|unknown|  5|  may|     219|       1|   -1|     no|
| 33|    services|secondary|unknown|  5|  may|      54|       1|   -1|     no|
+---+------------+---------+-------+---+-----+--------+--------+-----+-------+
only showing top 20 rows

In [41]:
# table.write.partitionBy("month").mode("overwrite").csv(exportData)

In [73]:
table_edu = spark.sql("""
    Select DISTINCT DENSE_RANK() OVER (ORDER BY education) AS edu_id , education
    from
        staging_data
""")
table_edu.createOrReplaceTempView("edus")
table_edu.show()

+------+---------+
|edu_id|education|
+------+---------+
|     1|  primary|
|     2|secondary|
|     3| tertiary|
|     4|  unknown|
+------+---------+

In [65]:
table_jobs = spark.sql("""
    Select DISTINCT DENSE_RANK() OVER (ORDER BY job) AS job_id , job
    from
        staging_data
""")
table_jobs.createOrReplaceTempView("jobs")
table_jobs.show()

+------+-------------+
|job_id|          job|
+------+-------------+
|     1|       admin.|
|     2|  blue-collar|
|     3| entrepreneur|
|     4|    housemaid|
|     5|   management|
|     6|      retired|
|     7|self-employed|
|     8|     services|
|     9|      student|
|    10|   technician|
|    11|   unemployed|
|    12|      unknown|
+------+-------------+

In [75]:
table_offering = spark.sql("""
Select 
    offer.age
    , job.job_id
    , edu.edu_id
    , offer.contact
    , offer.month
    , offer.day
    , offer.duration
    , offer.campaign
    , offer.pdays
    , offer.outcome
    from (
        select distinct 
            age
            , job
            , education
            , contact
            , month
            , day
            , duration
            , campaign
            , pdays
            , y as outcome
            , month as month_part
        from staging_data 
    ) offer
    inner join jobs job 
        on job.job = offer.job
    inner join edus edu 
        on edu.education = offer.education
""")
table_offering.createOrReplaceTempView("offer")
table_offering.show()

+---+------+------+-------+-----+---+--------+--------+-----+-------+
|age|job_id|edu_id|contact|month|day|duration|campaign|pdays|outcome|
+---+------+------+-------+-----+---+--------+--------+-----+-------+
| 57|    11|     3|unknown|  may|  5|      46|       1|   -1|     no|
| 33|     2|     2|unknown|  may|  5|     309|       2|   -1|     no|
| 51|    10|     2|unknown|  may|  5|     364|       2|   -1|     no|
| 34|     2|     2|unknown|  may|  6|     159|       1|   -1|     no|
| 37|    10|     3|unknown|  may|  7|     153|       3|   -1|     no|
| 50|     2|     1|unknown|  may|  7|      74|       1|   -1|     no|
| 36|     2|     1|unknown|  may|  7|     159|       3|   -1|     no|
| 30|     8|     2|unknown|  may|  8|     807|       2|   -1|     no|
| 29|     1|     1|unknown|  may| 12|     246|       1|   -1|     no|
| 53|     2|     4|unknown|  may| 12|     140|       7|   -1|     no|
| 57|    10|     2|unknown|  may| 13|      44|       1|   -1|     no|
| 46|     2|     2|unknown|  may| 13|      20|       1|   -1|     no|
| 51|    10|     2|unknown|  may| 13|      72|       4|   -1|     no|
| 52|     8|     2|unknown|  may| 14|     203|       1|   -1|     no|
| 50|     2|     1|unknown|  may| 15|     114|       2|   -1|     no|
| 49|     8|     2|unknown|  may| 15|     233|       3|   -1|     no|
| 45|    10|     2|unknown|  may| 15|     175|       2|   -1|     no|
| 53|     5|     2|unknown|  may| 16|     286|       3|   -1|     no|
| 43|     1|     2|unknown|  may| 16|     529|       4|   -1|     no|
| 28|    10|     2|unknown|  may| 16|     136|       2|   -1|     no|
+---+------+------+-------+-----+---+--------+--------+-----+-------+
only showing top 20 rows

In [79]:
table_edu.write.mode("overwrite").option("header",True).csv(exportData+"/edu")

In [80]:
table_jobs.write.mode("overwrite").option("header",True).csv(exportData+"/jobs")

In [81]:
table_offering.write.partitionBy("month_part").option("header",True).mode("overwrite").csv(exportData+"/offering")